:root {
  --text: #332d3a;
  --bg: #fff;
  --shadow: rgba(0, 0, 0, 0.25);
  --border: #e5e4e7;

  --accent: #001d5c;
  --accent-border: rgb(0, 2, 94);

  --serif: lucida, serif;
  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);

  color: var(--text);
  background: var(--bg);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#main {
  max-width: 1200px;
  margin: 0 auto;
}

nav {
  display: flex;
  width: 100%;
  justify-content: left;
  padding-left: 1rem;
  align-items: center;
  background-color: var(--shadow);
}

nav a {
  padding: 4px 8px;
  margin-left: 0;
  text-transform: capitalize;
  min-width: 5.5rem;
  cursor: pointer;
  border-right: solid 1px var(--accent-border);
  text-decoration: none;
  color: var(--accent);
}

nav a:first-child {
  font-weight: bold;
}

nav a:last-child {
  border-right: none;
}

blockquote {
  background-color: var(--shadow);
  padding: 4px 0.5em;
}

blockquote p {
  margin: 0;
  padding: 0 1rem;
  font-size: 0.9em;
  font-family: --serif;
}

li {
  margin-left: 1em;
}

h1 {
  text-align: center;
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
p {
  margin: 0.5em 0;
}

table {
  border-collapse: collapse;
  margin: 0.5em 0;
}

td,
th {
  border: 1px solid var(--text);
  padding: 2px 4px;
}

input,
select,
textarea {
  padding: 0 0.5rem;
  border: none;
  font-size: 1em;
  font-weight: normal;
}

input,
textarea {
  border-bottom: 1px solid var(--accent-border);
}

button {
  outline: none;
  border-radius: 0px;
  background-color: var(--bg);
  border: 1px solid var(--accent-border);
  color: var(--accent);
  padding: 2px 0.5rem;
}

button:active {
  transform: translateY(2px);
}

.capitalise {
  text-transform: capitalize;
}

.m0 {
  margin: 0;
}

.italic {
  font-style: italic;
}

.small {
  font-size: 0.75em;
}

.flex {
  display: flex;
}